@import "tailwindcss";

:root {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  /* background-color: #000; */
  /* color: #fff; */
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 0.5rem 0;
}

.marquee-track {
  display: inline-flex;
  animation: animate-marquee 10s linear infinite;
}

.marquee-track::after {
  content: attr(data-content);
  display: inline-flex;
  gap: 3rem;
  margin-left: 3rem;
}

@keyframes animate-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
